* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  padding: 15px;
}
.page-wrapper {
  max-width: 375px;
  margin: 0 auto;
  box-shadow: 0 3px 30px rgba(58, 57, 57, 0.25);
  background: #f7f7f7;
  border-radius: 40px;
}
.header {
  padding: 38px 39px 125px;
  border-radius: 0px 0px 40px 40px;
  background: linear-gradient(
      0deg,
      rgba(14, 14, 14, 0.3),
      rgba(14, 14, 14, 0.3)
    ),
    url("../img/image.png");
}
